.hamburger-menu {
  display: none;
  cursor: pointer;
  margin-left: 15px;
}

@media screen and (max-width: 500px) {
  .hamburger-menu {
    z-index: 4;
    display: block;
  }
  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
